<section id= "upcoming_holidays">
<h3>Next 3 Upcoming Holidays  </h3>
<% @holiday_info.each do |holiday|%>
  <div id = "holiday_<%=holiday.name%>">
  Name: <%= holiday.name %> Date: <%= holiday.date %> </p>
  </div>
<%end%>

</section>

<h1> <%= @merchant.name %>'s Bulk Discounts </h1>

<%= link_to "Create Bulk Discount", new_merchant_bulk_discount_path(@merchant)  %>

<% @merchant.bulk_discounts.each do |discount| %>
  <div id= "discount_<%=discount.id %>" > 
  <p> Percent Discounted: <%= discount.percentage %>%  </p>
  <p> Quantity Threshold: <%= discount.quantity %> </p>
  <p> <%= link_to "Delete This Bulk Discount", merchant_bulk_discount_path(@merchant, discount), method: :delete  %> </p>
  <p> <%= link_to "View This Bulk Discount Show Page", merchant_bulk_discount_path(@merchant, discount),  method: :get %> </p>
  </div>
<%end%>