<h1> <%= @merchant.name %>'s Bulk Discounts </h1>

<%= link_to "Create Bulk Discount", new_merchant_bulk_discount_path(@merchant)  %>

<% @merchant.bulk_discounts.each do |discount| %>
  <div id= "discount_<%=discount.id %>" > 
  <p> Percent Discounted: <%= discount.percentage %>%  </p>
  <p> Quantity Threshold: <%= discount.quantity %> </p>
  <p> <%= link_to "View This Bulk Discount Show Page", "merchants/#{@merchant.id}/bulk_discounts/#{discount.id}" %> </p>
  </div>
<%end%>