<h1> <%= @merchant.name %>'s Bulk Discounts </h1>

<% @merchant.bulk_discounts.each do |discount| %>
  <div id= "discount_<%=discount.id %>" > 
  <p> Percent Discounted: <%= discount.percentage %>%  </p>
  <p> Quantity Threshold: <%= discount.quantity %> </p>
  <p> <%= link_to "View This Bulk Discount Show Page", merchant_bulk_discounts_show_path(@merchant) %> </p>
  </div>
<%end%>