<h1> Invoice <%= @invoice.id %> </h1>

<div class="invoice">
  Invoice ID: <%= @invoice.id %> <br>
  Invoice Status: <%= @invoice.status %> <br>
  Invoice Created At: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %> <br>
  Invoice Customer: <%= @invoice.customer.full_name %>
</div>

<br>

<div class="items">
  <% @merchant.invoice_items.each do |inv_item| %>
    <div id="item-<%=inv_item.item.id%>">
      Item Name: <%= inv_item.item.name %> <br>
      Item Quantity: <%= inv_item.quantity %> <br>
      Item Price: $<%= number_with_precision ((inv_item.item.unit_price.to_f) / 100), precision: 2, delimiter: "," %> <br>
      Invoice Status: <%= inv_item.status %> 
      <div id="status-update-<%=inv_item.item.id%>">
        <%= render partial: 'update_item_status', locals: { path: merchant_invoice_item_path(@merchant, invoice_id: @invoice, item_id: inv_item.item.id), method: :patch, options_array: ["Pending", "Packaged", "Shipped"], button_text: 'Submit' } %>
      </div>
<%# 
      <% item.invoice_items.each do |ii| %>
        <%# <% if ii.eligible_for_discount? %> %>
            <%# <p> <%= link_to "See Discount", merchant_bulk_discount_path(item.merchant, ii.bulk_discounts) %> </p> %>
        <%# <% end %> %> %>
      <%# <% end %> %>
      <br>
      <br>

  <% end %>
</div>

<br>
<br>
Total Revenue: $<%= number_with_precision ((@invoice.total_revenue.to_f) / 100), precision: 2, delimiter: "," %>
Total Merchant Revenue: $<%= number_with_precision ((@invoice.total_invoice_revenue_for_merchant(@merchant.id).to_f) / 100), precision: 2, delimiter: "," %>
Total Merchant Discounted Revenue: $<%= number_with_precision ((@invoice.total_discounted_revenue_for_merchant(@merchant.id).to_f) / 100), precision: 2, delimiter: "," %>
Discounted Revenue: $<%= number_with_precision ((@invoice.discounted_revenue.to_f) / 100), precision: 2, delimiter: "," %>